/* ==============================
   LAYOUT STYLES
   ============================== */

#header, #main, #footer
  padding: 1.5rem 0

#main
  padding: 3rem 0
  background: #fee11b

.l-left
  float: left

.l-right
  float: right

.l-align-center
  text-align: center

.l-inline
  display: inline

.l-img-responsive
  max-width: 100%