/* FILTER STYLES */
.filter
  position: fixed
  z-index: 3
  top: 0
  left: 0
  width: 100%
  padding: 2rem 1rem
  background: rgba(254, 225, 27, .9)

  h3
    text-align: center

  &--toggler
    position: fixed
    right: 2rem
    bottom: 2rem
    padding: 1rem
    border: none
    -webkit-border-radius: 0.4rem
    -moz-border-radius: 0.4rem
    -ms-border-radius: 0.4rem
    -o-border-radius: 0.4rem
    border-radius: 0.4rem
    background: $primary-color
    -webkit-background-clip: padding-box
    -moz-background-clip: padding-box
    background-clip: padding-box
    color: #fff

    &:hover
      cursor: pointer

  label
    display: block
    padding: 0.3rem 0
    font-weight: bold
    text-align: center

    &:hover
      cursor: pointer

  &--school

  &--lecturer

  &--date

  &--apply
    display: block
    width: 100%
    margin-top: 1rem
    margin-bottom: 1rem
    padding: 1rem
    border: none
    background: red
    color: #fff

  &--buttons
    text-align: center

    a
      display: inline-block
      margin-top: 0.7rem
      margin-right: 1rem
      padding: 0.5rem 1rem
      -webkit-border-radius: 0.4rem
      -moz-border-radius: 0.4rem
      -ms-border-radius: 0.4rem
      -o-border-radius: 0.4rem
      border-radius: 0.4rem

      &:hover
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.3)

    &--apply
      background: $primary-color
      color: #fff

      &:hover
        color: #fff
        font-weight: bold

    &--reset
      background: #fff
      color: #222

    &--close
      background: #ccc
      color: #222

      &:hover
        color: #000

  @media only screen and (min-width: 768px)
    &.is-hidden
      position: relative
      z-index: 1
      display: block
      width: 100%

      .container
        > div
          float: left
          width: 33.3333%
          padding: 0 2rem

        > div:last-child
          width: 100%

    a.filter--buttons--close
      display: none