/* MODAL STYLES */

.lecturer-modal
  margin: 0 auto
  -webkit-border-radius: 0
  -moz-border-radius: 0
  -ms-border-radius: 0
  -o-border-radius: 0
  border-radius: 0

  &--avatar
    max-width: 100%
    text-align: center

  &--name

  &--bio
    text-align: justify

  &--lectures
    font-size: 1.4rem

    &--lecture
      margin-bottom: 0.3rem

.blocker:before
  height: 10%